@use 'styles/variables';
@use 'styles/mixins';

.container {
  @media (min-width: 720px) {
    grid-column-end: span 2;
  }

  h1 {
    color: variables.$color-300;
    margin-bottom: 12px;
  }

  & > div {
    @media (min-width: 720px) {
      column-gap: 24px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.matchday {
  background-color: variables.$color-200;
  border-radius: 16px;
  margin-bottom: 24px;
  padding-top: 1.2rem;
  text-align: center;

  div {
    border-top: 2px solid variables.$color-100;
    margin-top: 12px;
    padding: 8px 16px 0;
  }

  div:first-of-type {
    @include mixins.flex(center, space-around);
  }
}

.battle {
  padding: 12px 0;
  border-bottom: 1px solid variables.$color-100;

  &:last-of-type {
    border: none;
    padding-bottom: 24px;
  }
}
