@use 'styles/variables';

.container {
  margin: 24px 0;

  @media (min-width: 720px) {
    margin-top: 0;
  }
}

.battles {
  text-align: center;

  li {
    border-top: 1px solid variables.$color-100;
    padding: 8px 0;
  }
}
