@use 'styles/variables';
@use 'styles/mixins';

.container {
  margin: 24px 0;

  @media (min-width: 720px) {
    margin-top: 0;
  }

  @media (min-width: 1024px) {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.matchday {
  background-color: variables.$color-200;
  border-radius: 16px;
  padding: 8px 20px 12px;
  margin-top: 16px;

  & > div:first-of-type {
    @include mixins.flex(center, space-between);

    button {
      background-image: url('/expand-arrow.png');
      background-size: cover;
      background-position-y: 2px;
      height: 1.8rem;
      transition: 0.2s;
      width: 1.8rem;
    }
  }

  & > div:last-of-type {
    display: none;
  }
}

.details {
  @include mixins.flex(center, space-around);
  border-top: 1px solid variables.$color-100;
  margin-top: 12px;
  padding: 12px 0 16px;
}

.battles li {
  @include mixins.flex(center, center);
  border-top: 2px solid variables.$color-100;
  text-align: center;

  p {
    margin: 8px 16px;
  }

  span {
    background-color: variables.$color-100;
    border-radius: 50%;
    padding: 0 0.8rem;
  }
}
