@use 'styles/variables';
@use 'styles/mixins';

.container {
  background-color: variables.$color-200;
  border-radius: 16px;
  padding: 8px 20px 12px;
  margin-top: 16px;

  & > div:first-of-type {
    @include mixins.flex(center, space-between);

    button {
      background-image: url('/expand-arrow.png');
      background-size: cover;
      background-position-y: 2px;
      height: 1.8rem;
      transition: 0.2s;
      width: 1.8rem;
    }
  }

  & > div:last-of-type {
    display: none;
  }
}

.details {
  @include mixins.flex(center, space-around);
  border-top: 1px solid variables.$color-100;
  margin-top: 12px;
  padding: 12px 0 16px;
}
